body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F7DC6F;
}

h5 {
  margin: 0 0 2% 20%;
  font-size: 35px;
  color: #3a7999;

}
.about p {
  margin: 0 0 0 20%;
  font-size: 25px;
  color: #3a7999;
}

.header {
  background-color: #F7DC6F;
  height: 150px;
  padding: 20px;
  color:   #7D3C98;
  margin-bottom: 1%;
  text-align: center;
}

.pic {
  float: right;
  border-radius: 10px;
}

button {
	border: 3px solid #3a7999;
  margin-left: 5px;
  border-radius: 5px;
  background: #7D3C98;

}
button:hover {
	border: 3px dotted #3a7999;
	color:  #F7DC6F;
  background-color: #ECF0F1;
}

.nav-link {
  color:  #F7DC6F;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

.contact {
  background-color:  #F7DC6F;
  color:#7D3C98;
  /*margin: 3% 0 0 3%;*/
  display: flex;
  flex-direction: row;
  align-items:stretch;
}

.email{
  display: flex;
  flex-direction: row;
}

#emaillink{
  margin-left: 3%;
}

.social-media {
  display: flex;
  flex-direction: row;
  margin-left: 5%
}

#linkedin {
  margin-left: 3%;
}

#github {
  margin-left: 3%;
}

#medium {
  margin-left: 3%;
}

.portfolio {
  align-items: center;
}
.portfolio-image {
 width: 20%;
 height: 20%;
 margin-left: 5%;

}

.project{
  display:flex;
  flex-direction: column;
  color: #3a7999;
}

.inProgress {
  color: #C71585;
}

.project-details {
  float: left;

}

.resume-download {
  font-size: 18px;
  font-weight: bold;
  margin:2% 0 0 2%;
}

.resume-header {
  margin: 2% 0 0 2%;
    color:  #3a7999;
}

.resume-body {
  margin: 0 0 0 2%;
    color:  #3a7999;
}

.skills {
  display: flex;
  flex-direction: row;
}

.experience p {
  margin-bottom: 0;
}

.education p {
  margin-bottom: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
