body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.App {
  text-align: center;
}

.About {
  margin: 2% 0 0 1%;
}

.about h5 {
  margin-left: 1%;
}
.about p {
  margin-bottom: 0;
}

.pic {

}

.nav {
  display: flex;
  flex-direction: row;
}

button {
	border: 3px solid #3a7999;
}
button:hover {
	border: 3px dotted #3a7999;
	color: #3a7999;
	background: rgba(0,0,0,0);
  padding: 10px;
}

/*button:hover {
  background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
  border-radius: 5px;
  box-sizing: border-box;
}

border: none;
background: #3a7999;
color: #f2f2f2;
padding: 10px;
font-size: 18px;

position: relative;

transition: all 500ms ease;*/

/*.nav-link {
  color: blue;
  text-decoration: ;
  font-size: 15px;
}*/

.project{
  display:flex;
  flex-direction: column;
}
.portfolio-image {
 width: 35%;
}

.header {
  background-color: #CCC5C6;
  height: 150px;
  padding: 20px;
  color:  blue;
  margin-bottom: 1%;
}

.contact {
  background-color: #CCC5C6;
  color: blue;
  /*margin-top: 3%;*/
  display: flex;
  flex-direction: row;
}

.email{
  display: flex;
  flex-direction: row;
}

#emaillink{
  margin-left: 3%;
}

.social-media {
  display: flex;
  flex-direction: row;
}

#linkedin {
  margin-left: 3%;
}

#github {
  margin-left: 3%;
}

#medium {
  margin-left: 3%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
