body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F7DC6F;

}

.App {
  text-align: center;
}

.About {
  margin: 2% 0 0 1%;
  color: #7D3C98;

}

.about h5 {
  margin-left: 1%;
}
.about p {
  margin-bottom: 0;
}

.header {
  background-color: #F7DC6F;
  height: 150px;
  padding: 20px;
  color:   #7D3C98;
  margin-bottom: 1%;
}

.nav {
  display: flex;
  flex-direction: row;
}

button {
	border: 3px solid #3a7999;
  margin-left: 5px;
  border-radius: 5px;
  background: #7D3C98;

}
button:hover {
	border: 3px dotted #3a7999;
	color:  #F7DC6F;
  background-color: #ECF0F1;
}

.nav-link {
  color:  #F7DC6F;
  font-weight: bold;
  font-size: 15px;
}

.pic {
  display: flex;
}
.contact {
  background-color:  #F7DC6F;
  color:#7D3C98;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.email{
  display: flex;
  flex-direction: row;
}

#emaillink{
  margin-left: 3%;
}

.social-media {
  display: flex;
  flex-direction: row;
}

#linkedin {
  margin-left: 3%;
}

#github {
  margin-left: 3%;
}

#medium {
  margin-left: 3%;
}

.portfolio-image {
 width: 15%;

}

.project{
  display:flex;
  flex-direction: column;
    color: #7D3C98;
}

.resume-download {
  font-size: 18px;
  font-weight: bold;
  margin:2% 0 0 2%;
}

.resume-header {
  margin: 2% 0 0 2%;
    color: #7D3C98;
}

.resume-body {
  margin: 0 0 0 2%;
    color: #7D3C98;
}

.skills {
  display: flex;
  flex-direction: row;
}

.experience p {
  margin-bottom: 0;
}

.education p {
  margin-bottom: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
